{% extends 'base.html' %}

{% block title %}Experience{% endblock title %}
{% load static %}

{% block content %}

<section class="experience-section center-column">
    <h2>Experience | Education</h2>
    <div class="experience-list">
        <div class="experience-card">
            <p>Name of school or company</p>
            <p>Course name / job position</p>
            <p>A short description about the job position or educational program</p>
            <p>Month YYYY - Month YYYY</p>
            <div class="skills-container center-row">
                <label>Skill</label>
                <label>Skill</label>
                <label>Skill</label>
            </div>
        </div>
        <div class="experience-card">
            <p>Name of school or company</p>
            <p>Course name / job position</p>
            <p>A short description about the job position or educational program</p>
            <p>Month YYYY - Month YYYY</p>
            <div class="skills-container center-row">
                <label>Skill</label>
                <label>Skill</label>
                <label>Skill</label>
            </div>
        </div>
        <div class="experience-card">
            <p>Name of school or company</p>
            <p>Course name / job position</p>
            <p>A short description about the job position or educational program</p>
            <p>Month YYYY - Month YYYY</p>
            <div class="skills-container center-row">
                <label>Skill</label>
                <label>Skill</label>
                <label>Skill</label>
            </div>
        </div>
    </div>
</section>

{% endblock content %}